extends layout

block content
  section.section
    .container
      .tile.is-ancestor
        .tile.is-parent
          .tile.is-child.box
            p.title Cook Book
            p Cooking book shit here
            p yes im this bored
