extends layout

block content
  section.section
    .container
      .columns
        .column.is-one-third
          .card.card-equal-height
            .card-image
              figure.image
                img(src='/images/minecraft/dead.png', alt='Screenshot of Server')
            .card-content
              .media
                .media-left
                  figure.image.is-48x48
                    img(src='/images/minecraft/seb_bust.png', alt="Seb's Bust")
                .media-content
                  p.title.is-4 Trehouse Server
                  p.subtitle.is-6 Sebiann
            .content
                p.subtitle Death: No Players
                | Dead
                a(href="" target="_blank")
                  p Download World (Not up yet)

        .column.is-one-third
          .card.card-equal-height
            .card-image
              figure.image
                img(src='/images/minecraft/dead.png', alt='Screenshot of Server')
            .card-content
              .media
                .media-left
                  figure.image.is-48x48
                    img(src='/images/minecraft/seb_bust.png', alt="Seb's Bust")
                .media-content
                  p.title.is-4 Imagination Server
                  p.subtitle.is-6 Sebiann
            .content
              p.subtitle Death: No Players
              | Dead
              a(href="" target="_blank")
                p Download World (Not up yet)
