extends layout

block content
  section.section
    .container
      .columns.is-centered

        .column.is-one-third
          .card.card-equal-height
            p.title.is-4 Hello
            p On this Page i will add all Servers that are offline for good.
            | If u want a world download that doesn't exist yet, just send me a MSG on Discord.
            | (Except if it says there will never be one.)

      .columns.is-multiline
        .column.is-one-third
          .card.card-equal-height
            .card-image
              figure.image
                img(src='/images/minecraft/dead.png', alt='Screenshot of Server')
            .card-content
              .media
                .media-left
                  figure.image.is-48x48
                    img(src='/images/minecraft/seb_bust.png', alt="Seb's Bust")
                .media-content
                  p.title.is-4 Nethercraft Server
                  p.subtitle.is-6 Sebiann
            .content
                p.subtitle Death: Bad idea
                | Dead
                a(href="" target="_blank")
                  p Download World (Not up yet)

        .column.is-one-third
          .card.card-equal-height
            .card-image
              figure.image
                img(src='/images/minecraft/viking-winter-server.jpg', alt='Screenshot of Server')
            .card-content
              .media
                .media-left
                  figure.image.is-48x48
                    img(src='/images/minecraft/seb_bust.png', alt="Seb's Bust")
                .media-content
                  p.title.is-4 Winter Vikings Server
                  p.subtitle.is-6 Sebiann
            .content
                p.subtitle Death: Bad idea
                | Dead
                a(href="/minecraft/deadmc/Winter-Vikings-Serverbackup-17.12.19.zip")
                  p Download World
                a(href="/minecraft/modpacks/Winter-Vikings-R1.1.zip" target="_blank")
                  p Download Modpack 

        .column.is-one-third
          .card.card-equal-height
            .card-image
              figure.image
                img(src='/images/minecraft/dead.png', alt='Screenshot of Server')
            .card-content
              .media
                .media-left
                  figure.image.is-48x48
                    img(src='/images/minecraft/seb_bust.png', alt="Seb's Bust")
                .media-content
                  p.title.is-4 Realm Server
                  p.subtitle.is-6 Owner: Sebiann
            .content
                p.subtitle Death: No Players
                | Dead
                a(href="/minecraft/deadmc/realm-world.zip" target="_blank")
                  p Download World

        .column.is-one-third
          .card.card-equal-height
            .card-image
              figure.image
                img(src='/images/minecraft/dead.png', alt='Screenshot of Server')
            .card-content
              .media
                .media-left
                  figure.image.is-48x48
                    img(src='/images/minecraft/seb_bust.png', alt="Seb's Bust")
                .media-content
                  p.title.is-4 Trehouse Server
                  p.subtitle.is-6 Sebiann
            .content
                p.subtitle Death: No Players
                | Dead
                a(href="" target="_blank")
                  p Download World (Not up yet)

        .column.is-one-third
          .card.card-equal-height
            .card-image
              figure.image
                img(src='/images/minecraft/dead.png', alt='Screenshot of Server')
            .card-content
              .media
                .media-left
                  figure.image.is-48x48
                    img(src='/images/minecraft/seb_bust.png', alt="Seb's Bust")
                .media-content
                  p.title.is-4 Imagination Server
                  p.subtitle.is-6 Sebiann
            .content
              p.subtitle Death: No Players
              | Dead
              a(href="" target="_blank")
                p Download World (Not up yet)

        .column.is-one-third
          .card.card-equal-height
            .card-image
              figure.image
                img(src='/images/minecraft/dead.png', alt='Screenshot of Server')
            .card-content
              .media
                .media-left
                  figure.image.is-48x48
                    img(src='/images/minecraft/dargon_bust.png', alt="Dargon's Bust")
                .media-content
                  p.title.is-4 Dargon's Server
                  p.subtitle.is-6 Owner: Dargon999
            .content
              p.subtitle Death: Abandoned
              | Dead
              a(href="" target="_blank")
                p Download World (Not up yet)
