extends layout

block content
  section
    .hero-body
      .container
        .columns.is-centered
          .column.is-half
            figure.image.httpcat
              img(src="https://http.cat/"+error.status+".jpg")
            p.title
              | #{error.status} - #{message}
            p.subtitle
              a(href="/")
                i.fas.fa-home
                |  Go to home page
