extends layout

block content
  section.section
    .container
      .tile.is-ancestor
        .tile.is-4.is-vertical.is-parent
          .tile.is-child.box
            p.title Links
            ul.social-list
              li
                a(href="https://github.com" target="_blank") 
                  i.fab.fa-github-alt.fa-fw.social-icon
                  | GitHub (N/A)
              li
                a(href="https://youtube.com" target="_blank") 
                  i.fab.fa-youtube.fa-fw.social-icon
                  | Youtube (N/A)
              li
                a(href="https://discord.com" target="_blank") 
                  i.fab.fa-discord.fa-fw.social-icon
                  | Discord (N/A)
        .tile.is-parent
          .tile.is-child.box
            p.title GameShow
            p Hello everyone and welcome to my Minecraft Gameshow.
            | For info. This is a project im working on.
            | If you wanna signup look down below.
      .tile.is-ancestor
        .tile.is-parent
          .tile.is-child.box
            p.title Episode 1
            p IDK YET
        .tile.is-4.is-vertical.is-parent
          .tile.is-child.box
            p.title Links
            ul.social-list
              li
                a(href="https://forms.gle/A2caefB3jVRVUV2u6" target="_blank") 
                  i.fas.fa-link.fa-fw.social-icon
                  | Invite

      .tile.is-ancestor
        .tile.is-parent
          .tile.is-child.box
            p.title Staff
            ul.social-list
              li
                .media
                  .media-left
                    figure.image.is-48x48
                      img(src='/images/minecraft/seb_bust.png', alt="Sebiann's Bust")
                  .media-content
                    p.title.is-4 Sebiann
                    p.subtitle.is-6 Host
              li
                .media
                  .media-left
                    figure.image.is-48x48
                      img(src='/images/minecraft/lolface_bust.png', alt="Sebiann's Bust")
                  .media-content
                    p.title.is-4 Lolface_9
                    p.subtitle.is-6 Co-Host
              li
                .media
                  .media-left
                    figure.image.is-48x48
                      img(src='/images/minecraft/cookie_bust.png', alt="Sebiann's Bust")
                  .media-content
                    p.title.is-4 Cookiedoughnut2
                    p.subtitle.is-6 Builder

        .tile.is-parent
          .tile.is-child.box
            p.title Datapacks
            ul.social-list
              li
                a(href="https://github.com/Gamemode4Dev/GM4_Datapacks/tree/master/gm4_chairs" target="_blank") 
                  i.fas.fa-link.fa-fw.social-icon
                  | Chairs by Dennis
              li
                a(href="https://github.com/Dennis-0/Timer" target="_blank") 
                  i.fas.fa-link.fa-fw.social-icon
                  | Timer by Dennis
        .tile.is-parent
          .tile.is-child.box
            p.title Textures
            ul.social-list
              li
                a(href="https://forms.gle/A2caefB3jVRVUV2u6" target="_blank") 
                  i.fas.fa-link.fa-fw.social-icon
                  | Custom Textures by Sebiann

