extends layout

block content
  section.section
    .container
      .tile.is-ancestor
        .tile.is-4.is-vertical.is-parent
          .tile.is-child.box
            .columns
              .column.is-one-third
                figure.image
                  img.is-rounded(src="/images/sebi-logo.png", alt="Sebi")
              .column
                p.title BAGACK
                p.subtitle
                  | My name is SEBIANN.
