extends layout

block content
  section.section
    .container
      .tile.is-ancestor
        .tile.is-4.is-vertical.is-parent
          .tile.is-child.box
            .columns
              .column.is-one-third
                figure.image
                  img.is-rounded(src="/images/sebi-logo.png", alt="Sebi")
              .column
                p.title BAGACK
                p.subtitle
                  | My name is Sebiann.
                  
          .tile.is-child.box
            p.title Profiles
            ul.social-list
              li
                a(href="https://github.com/Sebiann" target="_blank") 
                  i.fab.fa-github-alt.fa-fw.social-icon
                  | GitHub
              li
                a(href="https://keybase.io/sebiann" target="_blank") 
                  i.fab.fa-keybase.fa-fw.social-icon
                  | Keybase
              li
                a(href="https://discord.sebiann.moe" target="_blank") 
                  i.fab.fa-discord.fa-fw.social-icon
                  | Discord
        .tile.is-parent
          .tile.is-child.box
            p.title Gamer Life
            p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr,  sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo.
