extends layout

block content
  section.section
    .container
      .tile.is-ancestor
        .tile.is-4.is-vertical.is-parent
          .tile.is-child.box
            .columns
              .column.is-one-third
                figure.image
                  img.is-rounded(src="/images/sebi-logo.png", alt="Sebi")
              .column
                p.title BAGACK
                p.subtitle
                  | My name is Sebiann.
                p.subtitle
                  | Rafi/Rylee
                  br
                  | Any Pronouns
          .tile.is-child.box
            p.title Profiles
            ul.social-list
              li
                a(href="https://github.com/Sebiann" target="_blank") 
                  i.fab.fa-github-alt.fa-fw.social-icon
                  | GitHub
              li
                p(title="Sebiann#5632") 
                  i.fab.fa-discord.fa-fw.social-icon
                  | Discord
              li
                a(href="https://steamcommunity.com/id/sebiann" target="_blank") 
                  i.fab.fa-steam.fa-fw.social-icon
                  | Steam
        .tile.is-parent
          .tile.is-child.box
            p.title Gamer Life
            p I am a Gamer, and i made this Website, plus i make MC servers. (better and more text comin soon)
