extends layout

block content
  section.section
    .container
      .columns
        .column.is-one-third
          .card.card-equal-height
            .card-image
              figure.image
                img(src='/images/minecraft', alt='Screenshot of Server')
            .card-content
              .media
                .media-left
                  figure.image.is-48x48
                    img(src='/images/minecraft/seb_bust.png', alt="Seb's Bust")
                .media-content
                  p.title.is-4 Nethercraft
                  p.subtitle.is-6 Owner: Sebiann
            .content
                p.subtitle IP: nethercraft.sebiann.moe
                p Version: 1.15.1
                a(href="" target="_blank")
                  p Hey
