extends layout

block content
  section.section
    .container
      .columns
        .column.is-one-third
          .card.card-equal-height
            .card-image
              figure.image
                img(src='/images/minecraft', alt='Screenshot of Server')
            .card-content
              .media
                .media-left
                  figure.image.is-48x48
                    img(src='/images/minecraft/chrigi_bust.png', alt="Gamerhoch15's Bust")
                .media-content
                  p.title.is-4 Sugicraft
                  p.subtitle.is-6 Owner: Gamerhoch15
            .content
                p.subtitle IP: sujaa.chrigi.moe
                p Version: 1.15.2
                a(href="" target="_blank")
                  p Hey
