extends layout

block content
  section.section
    .container
      .columns
        .column.is-one-third
          .card.card-equal-height
            .card-image
              figure.image
                img(src='/images/minecraft', alt='Screenshot of Server')
            .card-content
              .media
                .media-left
                  figure.image.is-48x48
                    img(src='/images/minecraft/seb_bust.png', alt="???'s Bust")
                .media-content
                  p.title.is-4 CeriCraft
                  p.subtitle.is-6 Owner: Sebiann
            .content
                p.subtitle IP:
                p Version: 1.16
                a(href="/minecraft/ceri")
                  p Information
