extends layout

block content
  section.section
    .container
      .columns
        .column.is-one-third
          .card.card-equal-height
            .card-image
              figure.image
                img(src='/images/minecraft', alt='Screenshot of Server')
            .card-content
              .media
                .media-left
                  figure.image.is-48x48
                    img(src='/images/minecraft/', alt="???'s Bust")
                .media-content
                  p.title.is-4 Template
                  p.subtitle.is-6 Owner:
            .content
                p.subtitle IP:
                p Version:
