extends layout

block content
  section.section
    .container
      .columns.is-multiline
        .column.is-one-third
          .card.card-equal-height
            .card-image
              figure.image
                img(src='/images/', alt='PUT IMAGE HERE')
            .card-content
              .media
                .media-left
                  figure.image.is-48x48
                    img(src='/images/', alt="PUT IMAGE HERE")
                .media-content
                  p.title.is-4 IN CONSTRUCTION
                  p.subtitle.is-6 S
            .content
                p.subtitle IP: EMPTY
                | EMPTY
                a(href="" target="_blank")
                  p EMPTY
