extends layout

block content
  section.section
    .container
      .columns.is-centered

        .column.is-one-fifth
          .card.card-equal-height
            p.title.is-4 Hello
            p On this Page all members of Cericraft are/will be listed

      .columns.is-multiline
        .column.is-one-quarter
          .card.card-equal-height
            .card-content
              .media
                .media-left
                  figure.image.is-64x64
                    img(src='/images/minecraft/seb_bust.png', alt="Seb's Bust")
                .media-content
                  p.title.is-4 Sebiann
                  p.subtitle.is-6 Role: Owner, TSNS
            .card-content
                p.subtitle Bio

        .column.is-one-quarter
          .card.card-equal-height
            .card-content
              .media
                .media-left
                  figure.image.is-64x64
                    img(src='/images/minecraft/lolface_bust.png', alt="Lolface's Bust")
                .media-content
                  p.title.is-4 Lolface_9
                  p.subtitle.is-6 Role: Player
            .card-content
                p.subtitle Bio

        .column.is-one-quarter
          .card.card-equal-height
            .card-content
              .media
                .media-left
                  figure.image.is-64x64
                    img(src='/images/minecraft/immo_bust.png', alt="Immo's Bust")
                .media-content
                  p.title.is-4 Immortalizd
                  p.subtitle.is-6 Role: Player
            .card-content
                p.subtitle Bio

        .column.is-one-quarter
          .card.card-equal-height
            .card-content
              .media
                .media-left
                  figure.image.is-64x64
                    img(src='/images/minecraft/lizerax_bust.png', alt="Lizeraxes's Bust")
                .media-content
                  p.title.is-4 Lets_go_Lizurtur
                  p.subtitle.is-6 Role: Player
            .card-content
                p.subtitle Bio

        .column.is-one-quarter
          .card.card-equal-height
            .card-content
              .media
                .media-left
                  figure.image.is-64x64
                    img(src='/images/minecraft/jumper_bust.png', alt="Jumper's Bust")
                .media-content
                  p.title.is-4 JumperRaptor
                  p.subtitle.is-6 Role: Player
            .card-content
                p.subtitle Bio

        .column.is-one-quarter
          .card.card-equal-height
            .card-content
              .media
                .media-left
                  figure.image.is-64x64
                    img(src='/images/minecraft/brot_bust.png', alt="Bread's Bust")
                .media-content
                  p.title.is-4 BrotPower1234
                  p.subtitle.is-6 Role: Player
            .card-content
                p.subtitle Bio

        .column.is-one-quarter
          .card.card-equal-height
            .card-content
              .media
                .media-left
                  figure.image.is-64x64
                    img(src='/images/minecraft/dark_bust.png', alt="Dark's Bust")
                .media-content
                  p.title.is-4 darknight1050
                  p.subtitle.is-6 Role: Player, TSNS
            .card-content
                p.subtitle Bio

        .column.is-one-quarter
          .card.card-equal-height
            .card-content
              .media
                .media-left
                  figure.image.is-64x64
                    img(src='/images/minecraft/cookie_bust.png', alt="Cookie's Bust")
                .media-content
                  p.title.is-4 Cookiedoughnut2
                  p.subtitle.is-6 Role: Player
            .card-content
                p.subtitle Bio

        .column.is-one-quarter
          .card.card-equal-height
            .card-content
              .media
                .media-left
                  figure.image.is-64x64
                    img(src='/images/minecraft/luke_bust.png', alt="Luke's Bust")
                .media-content
                  p.title.is-4 JustLuke02
                  p.subtitle.is-6 Role: Player, TSNS
            .card-content
                p.subtitle Bio

        .column.is-one-quarter
          .card.card-equal-height
            .card-content
              .media
                .media-left
                  figure.image.is-64x64
                    img(src='/images/minecraft/krezzer_bust.png', alt="Krezz3r's Bust")
                .media-content
                  p.title.is-4 KREZZ3R
                  p.subtitle.is-6 Role: Player
            .card-content
                p.subtitle Bio

        .column.is-one-quarter
          .card.card-equal-height
            .card-content
              .media
                .media-left
                  figure.image.is-64x64
                    img(src='/images/minecraft/filippe_bust.png', alt="Filippe's Bust")
                .media-content
                  p.title.is-4 LifeisBoring1337
                  p.subtitle.is-6 Role: Player, TSNS
            .card-content
                p.subtitle Bio

        .column.is-one-quarter
          .card.card-equal-height
            .card-content
              .media
                .media-left
                  figure.image.is-64x64
                    img(src='/images/minecraft/alice_bust.png', alt="Alice's Bust")
                .media-content
                  p.title.is-4 JasminACM
                  p.subtitle.is-6 Role: Player, TSNS
            .card-content
                p.subtitle Bio

        .column.is-one-quarter
          .card.card-equal-height
            .card-content
              .media
                .media-left
                  figure.image.is-64x64
                    img(src='/images/minecraft/austin_bust.png', alt="Austin's Bust")
                .media-content
                  p.title.is-4 Hoi_A
                  p.subtitle.is-6 Role: Player
            .card-content
                p.subtitle Bio:
                | I do stuff over at 
                a(href="https://neat.moe", target="_blank") neat.moe

        .column.is-one-quarter
          .card.card-equal-height
            .card-content
              .media
                .media-left
                  figure.image.is-64x64
                    img(src='/images/minecraft/d3ath_bust.png', alt="D3ath's Bust")
                .media-content
                  p.title.is-4 d3athmatch
                  p.subtitle.is-6 Role: Player
            .card-content
                p.subtitle Bio:
                p Hello there (General Kenobi), Fellow Minecrafter! My name is d3athmatch (Joseph) and I'm a pretty chill dude not gonna lie. I've been playing Minecraft since 2011 and have built quite a few skills since let me tell ya. I've become fairly decent with the art of redstoning and terraforming so you can most likely find me doing that around the CeriCraft server!
                br
                | Check out my starter YouTube channel 
                a(href="https://www.youtube.com/channel/UC28sqbiUuXVSQvjsbP4Sn0Q?", target="_blank") here:
                br
                br
                p Thank you for checking me out squad fam.

        .column.is-one-quarter
          .card.card-equal-height
            .card-content
              .media
                .media-left
                  figure.image.is-64x64
                    img(src='/images/minecraft/tex_bust.png', alt="Tex's Bust")
                .media-content
                  p.title.is-4 TexTheButcher
                  p.subtitle.is-6 Role: Player
            .card-content
                p.subtitle Bio:
                p Yeehaw

        .column.is-one-quarter
          .card.card-equal-height
            .card-content
              .media
                .media-left
                  figure.image.is-64x64
                    img(src='/images/minecraft/zamo_bust.png', alt="Zamo's Bust")
                .media-content
                  p.title.is-4 zamo143
                  p.subtitle.is-6 Role: Player
            .card-content
                p.subtitle Bio:
                p 