extends layout

block content
  section.section
    .container
      .tile.is-ancestor
        .tile.is-3.is-vertical.is-parent
          .tile.is-child.box
            p.title Infos
            ul.social-list
              li
                p.subtitle-5 CeriCraft
              li
                a(href="/minecraft") 
                  p Server list
              li
                a(href="/minecraft/ceri/members")
                  p Memberlist
        .tile.is-parent
          .tile.is-child.box.content.is-medium
            p.title FAQ
            ol.is-large
              li
                p.title.is-5 What is this?
                | This is a vanilla Minecraft server thats coming soon, supposed to be  Hermitcraft inspired.
              li
                p.title.is-5 Am I allowed to Record or stream this
                | Yes ofc, just have in mind that not everyone in this discord might want to be in a YT vid or stream
              li
                p.title.is-5 Who is allowed too join?
                | Anybody who is trustworthy too me (might sound bias, but this is my server and i decide(but i mostly dont have reasons to say no))